@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;

}

.app {
  background-color: #343;
  display:flex;
}

.side-bar {
  background-color: #202123;
  height: 100vh;
  width :244px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  border: solid 0.5px rgba(255,255,255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

nav{
border-top: solid 0.5px rgba(255,255,255, 0.5);
padding: 10px;
margin: 10px;
}

.history {
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.history li {
  list-style-type: none;
  padding: 15px 0; /*10px is for top and bottom, 0 is for left and right, this is shorthand notation*/
  cursor: pointer;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.info {
  color: rgba (255, 255, 255, 0.5);
  font-size: 11px;
  padding: 10px;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 650px;
  top: 60px; /* Adjust this value to move the input field higher or lower */
}

input {
  flex: 1;
  background-color: rgba(255,255,255, 0.5);
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-right: 8px;
  width: 100%; /* Adjust this value to make the input field wider or narrower */
  box-shadow: rgba (0,0,0, 0.05) 0 54px 55px,
  rgba (0,0,0, 0.05) 0 -12px 30px,
  rgba (0,0,0, 0.05) 0 4px 6px,
  rgba (0,0,0, 0.05) 0 12px 3px,
  rgba (0,0,0, 0.05) 0 -3px 5px;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

input:focus {
  outline:none;
}

.feed{
  overflow: scroll;
  width: 100%;
  padding: 0;
}

.feed li {
  display: flex;
  background-color: #444654;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}

.feed p {
  color: rgba(255,255,255, 0.8);
  font-size: 14px;
  text-align: left;
} 

.feed p.role {
  min-width: 100px;
}

